.page-content {
    width: 788px;
    padding: 40px 40px 40px 40px;
    background: url(../../assets/images/fon-page-top.jpg) center top no-repeat,
        url(../../assets/images/fon-page-bottom.jpg) center bottom no-repeat,
        url(../../assets/images/fon-page-center.jpg) center repeat-y;
    position: relative;
    min-height: 1354px;
    margin-bottom: 15px;
}

.page-content:after {
    content: "";
    position: absolute;
    top: -24px;
    left: -57px;
    height: 67px;
    width: 904px;
    background: url(../../assets/images/fon-page-top.png) center top no-repeat;
}

.page-top {
    position: relative;
    text-transform: uppercase;
    font-size: 35px;
    color: #00fcff;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    margin-bottom: 30px;
}

.text-text {
    font-family: "Open Sans";
}

.page-text {
    text-align: center;
    font-size: 15px;
}
