.top-list {
    height: 41px;
    display: flex;
    align-items: center;
    font-size: 15px;
    transition: 0.3s;
    color: #fff;
}

.top-list a {
    color: #fff;
    text-decoration: none;
}

.top-list:hover {
    background-color: #171c35;
    height: 41px;
    margin: 0px -40px 0px -40px;
    padding: 0px 25px 0px 25px;
    color: #00baff;
    position: relative;
    z-index: 5;
}

.top-list:hover a {
    color: #00baff;
}